body {
  color: white;
  background-color: #222;
}

#statusBarDiv {
  color: white;
  background-color: #222;
  border-bottom: 1px solid #888;
}

#mainTable > tbody > tr:nth-child(2n) {
  background-color: #222;
}

#leftPanel {
}

#lobbyDiv {
  color: white;
  background-color: #222;
}

.tab-on {
  font-weight: bold;
  background-color: #222;
  border-top: none;
}

.tab-off {
  border-top: solid white 1px;
  background-color: #111;
}

.piece-circle {
  fill: white;
}

.button {
  color: black;
  background-color: hsl(50, 100%, 45%);
}

.button.disabled-button {
  background-color: #aaa;
}

#popupDivBackground {
  background-color: black;
  opacity: 0.5;
}

.popup {
  color: white;
  background-color: #222;
  border: solid #888 1px;
}

.nationRect {
  stroke: #888;
  fill: #333;
}

text {
  fill: white;
}

.column-NA {
  color: #e08060;
}
.column-SA {
  color: #e0e060;
}
.column-EU {
  color: #60ffff;
}
.column-AF {
  color: #6080ff;
}
.column-AS {
  color: #60ff60;
}
.column-AU {
  color: #ff60ff;
}

.unclickable-svg {
  fill: white;
}

.clickable-svg {
  cursor: pointer;
  fill: hsl(50, 100%, 45%);
}

input[type=number] {
  border: 1px solid #888;
  color: white;
  background-color: #111;
}

hr {
  margin: 1em;
  border: none;
  border-bottom: 1px solid #888;
}

#presidentDiv {
  background-color:#444;
}

.toast {
  background-color: black;
  color: white;
  box-shadow: 0 0 0.25em white;
}
