body {
  color: white;
  background-color: #222;
}

.personButton {
  background-color: white;
  color: black;
  border: solid white 1px;
}

#statusBarDiv {
	color: white;
  background-color: #222;
  border-bottom: 1px solid #888;
}

.button {
  color: white;
}

#mainTable > tbody > tr:nth-child(2n) {
  background-color: #222;
}

#leftPanel {
}

#gameLogDiv {
  border-top: solid white 1px;
}

#lobbyDiv {
	color: white;
  background-color: #222;
}

.tab-on {
	font-weight: bold;
  background-color: #222;
  border-top: none;
}

.tab-off {
	border-top: solid white 1px;
  background-color: #111;
}

.piece-circle {
  fill: white;
}

.button {
	color: black;
	background-color: hsl(50, 100%, 45%);
}

#popupDivBackground {
  background-color: black;
  opacity: 0.5;
}

#popupDivForeground {
	color: white;
  background-color: #222;
  border: solid #888 1px;
  opacity: 1;
}
