body {
  color: white;
  background-color: #222;
}

.personButton {
  background-color: white;
  color: black;
  border: solid white 1px;
}

#statusBarDiv {
	color: white;
  background-color: #222;
  border-bottom: 1px solid white;
}

.button {
  color: white;
}

#mainTable > tbody > tr:nth-child(2n) {
  background-color: #222;
}

#leftPanel {
}

#lobbyDiv {
	color: white;
  background-color: black;
}

.tab-button {
  border-top: solid white 1px;
}

.piece-circle {
  fill: white;
}