body {
  color: black;
  background-color: white;
}

.personButton {
  background-color: black;
  color: white;
  border: solid black 1px;
}

#statusBarDiv {
  background-color: black;
  color: white;
}

.button {
  color: black;
}

#mainTable > tbody > tr:nth-child(2n) {
  background-color: #ccc;
}

#leftPanel {
  border-right: solid black 1px;
}

#lobbyDiv {
  color: black;
  background-color: white;
}

.tab-on {
  font-weight: bold;
  background-color: white;
}

.tab-off {
  background-color: #ddd;
  border-top: solid black 1px;
}

.piece-circle {
  fill: black;
}

.button {
  /*border: solid black 1px;*/
  box-shadow: 0 0 0.5em #888;
}
