body {
  color: black;
  background-color: white;
}

.personButton {
  background-color: black;
  color: white;
  border: solid black 1px;
}

#statusBarDiv {
  background-color: #282828;
  color: white;
}

.button {
  color: black;
}

#mainTable > tbody > tr:nth-child(2n) {
  background-color: #ccc;
}

#leftPanel {
  border-right: solid black 1px;
}

#lobbyDiv {
  color: black;
  background-color: white;
}

.tab-on {
  font-weight: bold;
  background-color: white;
}

.tab-off {
  background-color: #ddd;
  border-top: solid black 1px;
}

.piece-circle {
  fill: black;
}

.button {
  background-color: hsl(231, 100%, 45%);
  color: white;
  box-shadow: 0 0 0.25em #888;
}

#popupDivBackground {
  background-color: black;
  opacity: 0.5;
}

#popupDivForeground {
  background-color: white;
  border: solid black 1px;
  opacity: 1;
}

.nationRect {
  fill: #888;
  stroke: #ccc;
}
